body {
  background-color: #FFFDF6;
  font-size: 1rem;
  font-family: "yu-gothic-pr6n", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

img {
  vertical-align: bottom;
  height: auto;
  max-width: 100%;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  color: #C4391D;
  margin: 50px 0 30px 0;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  line-height: 100%;
  margin-bottom: 100px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1.25rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.header.scrolled {
  background-color: rgba(190, 190, 190, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.header__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.header .nav__list {
  display: flex;
  gap: 20px;
}
.header .nav__item {
  font-size: 1rem;
  font-weight: bold;
}
.header .nav__item:hover {
  color: #E63946;
  scale: 1.1;
  -webkit-animation: rotate 0.3s ease;
          animation: rotate 0.3s ease;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5rem;
  color: #E63946;
  margin: -20px;
}
h1 span {
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left: -5px;
  display: block;
  font-size: 3.5rem;
  color: #E63946;
  font-weight: bold;
}

.main__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.main .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  /* or your hero height */
  overflow: hidden;
}
.main .hero__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../assets/firstview.png") no-repeat center center/cover;
}
.main .hero__title {
  position: absolute;
  top: 60px;
  left: 40px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "helvetica", serif;
  font-weight: 700;
  letter-spacing: 10%;
  font-size: clamp(5rem, 10vw, 9rem);
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 4px #ffffff;
}
.main .hero__title .hero__title span {
  display: block;
}

.concept {
  margin-bottom: 6.25rem;
}
.concept__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.concept__title {
  font-family: "Bodoni 72", serif;
  font-size: clamp(3rem, 12vw, 10rem);
  letter-spacing: -0.04em;
  white-space: nowrap;
  margin-bottom: 5.625rem;
}
.concept__info {
  margin-bottom: 6.25rem;
}
.concept__info__title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}
.concept img {
  height: 31.25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.menu__title {
  font-size: 4.375rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #000;
}
.menu__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.menu__info {
  max-width: 300px;
}
.menu__info__title {
  font-size: 1.5625rem;
  font-weight: bold;
  margin: 20px 0;
  color: #C4391D;
}
.menu__info__subtitle {
  margin: 1.25rem 0;
  font-size: 1rem;
  font-weight: bold;
}
.menu__info img {
  display: block;
  width: 100%;
  aspect-ratio: 9/14;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.menu__info__margherita {
  transform: translateY(-10px) scale(0.75) rotate(-5deg);
  margin-top: 60px;
}
.menu__info__margherita:hover {
  transform: none;
  margin-top: 0;
}
.menu__info__veggie {
  transform: translateY(-10px) scale(0.75) rotate(5deg);
  margin-top: -40px;
}
.menu__info__veggie:hover {
  transform: none;
  margin-top: 0;
}
.menu__info__side {
  transform: translateY(40px);
}
.menu__info__drink {
  transform: translateY(80px);
}
.menu__category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.menu__info2 {
  margin-top: 60px;
}
.menu__info2 h3,
.menu__info2 h4,
.menu__info2 p {
  max-width: 280px;
}
.menu__info2 img {
  display: block;
  width: 100%;
  aspect-ratio: 3/5;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__img {
  margin: 0 0 40px 0;
  position: relative;
}
.menu__text {
  position: absolute;
  bottom: 25px;
  right: 200px;
}

.mainpizza {
  margin: 50px 0 260px 0;
}

@media (min-width: 640px) {
  .pizza {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 90px;
         column-gap: 90px;
    row-gap: 280px;
  }
}

.card img {
  width: 300px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.card .content {
  margin-top: 15px;
}
.card .title {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin-bottom: 20px;
}
.card .title h4 {
  color: #C4391D;
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
}
.card .title span {
  color: #000;
  font-size: 16px;
}
.card .tags {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.card .tags span {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 0.5px solid #000;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: 400;
}
.card p {
  margin-bottom: 20px;
  font-weight: 400;
}
.card h5 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
}

.lunchpizza img {
  width: 500px;
  height: 400px;
}
.lunchpizza .card {
  display: block;
  grid-template-columns: 500px 1fr;
  -moz-column-gap: 110px;
       column-gap: 110px;
}
/*# sourceMappingURL=style.css.map */