@mixin inner($mw: 1200px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

$breakpoints: (
    phone: 480px,
    desktop: 640px
);

@mixin mq($breakpoint: desktop) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
    }
}

body {
    background-color: #FFFDF6;
    font-size: 16px;
}

img {
    vertical-align: bottom;
    height: auto;
    max-width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 48px;
    color: #C4391D;
    margin: 50px 0 30px 0;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    line-height: 100%;
    margin-bottom: 100px;
}

.header {
    position: sticky;

    top: 0;

    z-index: 1000;
    background-color: beige;
    padding: 20px;



    &__inner {
        @include inner();
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
    }

    .nav {
        &__list {
            display: flex;
            gap: 20px;
        }
    }
}

h1 {
    font-size: 1.5rem;
    color: #E63946;
    margin: -20px;

    span {
        margin-top: -20px;
        margin-bottom: -30px;
        margin-left: -5px;
        display: block;
        font-size: 3.5rem;
        color: #E63946;
        font-weight: bold;
    }
}

.main {
    &__inner {
        @include inner();
    }

    .hero {
        @include inner();

        &__wrapper {
            position: relative;
        }



        &__info {
            position: absolute;
            top: 60px;
            left: 40px;

            &__tongue {
                position: absolute;
                top: 250px;
                left: 240px;
            }
        }
    }

    .concept {
        margin: 50px 0 250px 0;

        &__img {
            display: block;
            margin-left: auto;
        }
    }

    &__img {
        margin: 0 0 40px 0;
        position: relative;
    }

    &__text {
        position: absolute;
        bottom: 25px;
        right: 200px;
    }
}

.mainpizza {
    margin: 50px 0 260px 0;
}

.pizza {
    @include mq(desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 90px;
        row-gap: 280px;
    }
}

.card {
    img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        display: block;
    }

    .content {
        margin-top: 15px;
    }

    .title {
        display: flex;
        align-items: flex-end;
        gap: 15px;
        margin-bottom: 20px;

        h4 {
            color: #C4391D;
            font-size: 30px;
            font-weight: 400;
            line-height: 100%;
        }

        span {
            color: #000;
            font-size: 16px;
        }

    }

    .tags {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        span {
            display: flex;
            align-items: center;
            gap: 15px;
            border: 0.5px solid #000;
            border-radius: 30px;
            padding: 5px 10px;
            font-weight: 400;
        }
    }

    p {
        margin-bottom: 20px;
        font-weight: 400;
    }

    h5 {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 25px;
        line-height: 100%;
    }

}

.lunchpizza {
    img {
        width: 500px;
        height: 400px;
    }

    .card {
        display: block;
        grid-template-columns: 500px 1fr;
        column-gap: 110px;
    }
}