@use "sass:math";

$font-size-base: 16px;

@function rem($value) {
    @return math.div($value * 1px, $font-size-base) * 1rem;
}

@mixin inner($mw: 1200px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #FFFDF6;
    font-size: rem(16);
    font-family: "yu-gothic-pr6n", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

img {
    vertical-align: bottom;
    height: auto;
    max-width: 100%;
}

h2 {
    font-weight: bold;
    font-size: rem(48);
    color: #C4391D;
    margin: 50px 0 30px 0;
}

h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.header {
    position: sticky;

    top: 0;

    z-index: 1000;

    padding: rem(20);

    transition: background-color .3s ease, box-shadow .3s ease;

    &.scrolled {

        background-color: rgba(190, 190, 190, 0.5);

        backdrop-filter: blur(10px);

        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

    }



    &__inner {
        @include inner();
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
    }

    .nav {
        &__list {
            display: flex;
            gap: 20px;


        }

        &__item {
            font-size: rem(16);
            font-weight: bold;

            &:hover {
                color: #E63946;
                scale: 1.1;
                animation: rotate .3s ease;

            }

            @keyframes rotate {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }

            }
        }
    }
}

h1 {
    font-size: rem(24);
    color: #E63946;
    margin: -20px;

    span {
        margin-top: -20px;
        margin-bottom: -30px;
        margin-left: -5px;
        display: block;
        font-size: 3.5rem;
        color: #E63946;
        font-weight: bold;
    }
}

.main {

    padding-top: 20px;



    .hero {
        @include inner();

        &__wrapper {
            position: relative;
        }

        &__img {
            width: 100%;
            aspect-ratio: 16/8;
            object-fit: cover;
        }



        &__info {
            width: 100%;
            aspect-ratio: 16/7;
            object-fit: cover;
            position: absolute;
            top: 40px;
            left: 40px;


        }
    }
}

.concept {
    margin-bottom: rem(100);

    &__inner {
        @include inner();
    }

    &__title {

        font-family: "Bodoni 72", serif;
        font-size: clamp(3rem, 12vw, 10rem);
        letter-spacing: -0.04em;
        white-space: nowrap;


        margin-bottom: rem(90);
    }

    &__info {
        margin-bottom: rem(100);

        &__title {
            font-size: rem(30);
            font-weight: bold;
            margin-bottom: rem(30);
        }
    }

    img {
        height: rem(500);
        width: 100%;
        object-fit: cover;
    }




}

.menu {
    &__inner {
        @include inner();
    }

    &__title {
        font-size: rem(70);
        font-weight: bold;
        letter-spacing: 0;
        color: #000;

    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        column-gap: 5rem;


    }

    &__info {
        max-width: 300px;

        &__title {
            font-size: rem(25);
            font-weight: bold;
            margin: 20px 0;
            color: #C4391D;
        }

        &__subtitle {
            margin: rem(20) 0;
            font-size: rem(16);
            font-weight: bold;
        }


        img {
            display: block;
            width: 100%;
            aspect-ratio: 9/14;
            object-fit: cover;
            border-radius: 40px;

        }

        &__margherita {
            transform: translateY(-10px) scale(0.75) rotate(-5deg);
            margin-top: 60px;

            &:hover {
                transform: none;
                margin-top: 0;
            }
        }


        &__veggie {
            transform: translateY(-10px) scale(0.75) rotate(5deg);
            margin-top: -40px;

            &:hover {
                transform: none;
                margin-top: 0;
            }
        }

        &__side {
            transform:
                translateY(40px);
        }

        &__drink {
            transform:
                translateY(80px);
        }
    }

    &__category {
        display: grid;
        grid-template-columns: repeat(3, 1fr);


    }

    &__info2 {
        margin-top: 60px;

        h3,
        h4,
        p {
            max-width: 280px;
        }


        img {
            display: block;
            width: 100%;
            aspect-ratio: 3/5;
            object-fit: cover;

        }
    }
}